@use '_variables' as *
@use '_mixins' as *

h1, h2, h3, h4, h5, h6
    font-family: "Bauhaus", sans-serif
    text-transform: uppercase
    font-weight: 500
    letter-spacing: 0.01em
    color: $brown-dark
    b
        color: $pink-dark
        font-weight: inherit

h1
    line-height: 110%
    +f(28px, 64px)

h2
    line-height: 120%
    +f(20px, 48px)

h3
    line-height: 130%
    +f(20px, 32px)

h4
    line-height: 140%
    +f(16px, 24px)

h5
    line-height: 140%
    +f(14px, 20px)

button, a.button
    cursor: pointer
    display: grid
    align-items: center
    grid-template-columns: auto
    grid-auto-flow: column
    grid-auto-columns: max-content
    grid-gap: 8px
    border-radius: 30px
    padding: 12px 28px
    background: $pink-dark
    color: white
    transition: background 0.5s
    font-weight: 600
    line-height: 140%
    letter-spacing: 0.01em
    +f(14px, 16px)

    &:hover
        background: #FFB5C4

    &.light
        padding: 18px 60px
        background: #e798a833
        color: $pink-dark

        &:hover
            background: #e798a866

.link
    display: grid
    align-items: center
    grid-auto-flow: column
    grid-auto-columns: max-content
    grid-gap: 8px
    color: $pink-dark
    transition: color 0.5s
    svg
        path
            fill: $pink-dark
            transition: color 0.5s

    &:hover
        color: #FFB5C4
        svg
            path
                fill: #FFB5C4

input[type=text]
    border-radius: 27px
    padding: 10px 20px
    background: #fff
    border: 1px solid #e798a833
    font-weight: 400
    line-height: 140%
    color: $brown-light
    +f(12px, 18px)
    +s(m)
        border-radius: 10px
        padding: 12px

    &::placeholder
        opacity: 0.5

    &:focus::placeholder
        opacity: 0

textarea
    border-radius: 27px
    padding: 10px 20px
    background: #fff
    border: 1px solid #e798a833
    height: 105px
    font-weight: 400
    line-height: 140%
    color: $brown-light
    +f(12px, 18px)
    +s(m)
        border-radius: 10px
        padding: 12px

    &::placeholder
        opacity: 0.5

    &:focus::placeholder
        opacity: 0

label.checkbox
    cursor: pointer
    position: relative
    padding-left: 26px

    input
        display: none
        &:checked
            background: red
            & + span::after
                display: block

    span::before
        content: ''
        position: absolute
        top: 0.25em
        left: 0
        display: block
        width: 14px
        height: 14px
        border: 1px solid #FFDBE6
        box-sizing: border-box
        +s(s)
            top: 0.4em

    span::after
        content: ''
        position: absolute
        top: 0.25em
        left: 0
        display: none
        width: 14px
        height: 14px
        background-image: url(../images/checkbox_tick.svg)
        +s(s)
            top: 0.4em

div.swiper
    opacity: 0
    width: 100%
    min-width: 0
    transition: opacity 0.1s
    user-select: none
    &.show
        opacity: 1

div.swiper-pagination
    display: grid
    grid-auto-flow: column
    grid-auto-columns: max-content
    justify-content: center
    grid-gap: 4px
    position: static

    &.swiper-pagination-lock
        display: none

    span
        display: block
        width: 7px
        height: 7px
        border: 2px solid $pink-dark
        background: transparent
        margin: unset !important

        &.swiper-pagination-bullet-active
            background: $pink-dark

div.swiper-navigation
    display: flex
    align-items: center
    justify-content: space-between
    position: absolute
    top: 50%
    left: 30px
    right: 30px
    width: calc(100% - 60px)
    z-index: 9
    transform: translateY(-50%)
    user-select: none
    div.arrow
        cursor: pointer
        display: grid
        align-items: center
        justify-items: center
        width: 40px
        height: 40px
        border-radius: 50%
        background: rgb(231, 152, 168, 0.2)
        transition: all 0.5s
        &:last-child
            transform: rotate(180deg)

        svg
            transition: all 0.5s
            width: 20px

        &:hover
            width: 60px
            height: 60px
            svg
                transform: scale(1.5)

        &.swiper-button-disabled
            opacity: 0
            pointer-events: none

a.product
    position: relative
    display: grid
    padding: 40px
    border-radius: 30px
    background: white
    transition: all 0.3s
    +s(m)
        background: unset
        padding: unset

    div.preview
        display: grid
        grid-gap: 40px
        margin-bottom: 80px
        border-radius: 10px
        +s(m)
            background: white

            margin-bottom: 10px
        span.tag
            position: absolute
            top: 30px
            left: 30px
            border-radius: 0 10px 10px 10px
            font-weight: 600
            line-height: 140%
            color: #e798a8
            background: #e798a826
            padding: 2px 10px
            +s(m)
                top: 10px
                left: 10px
        img
            max-width: 100%
            padding: 15px
            padding-top: 60px
            margin: 0 auto
            +s(m)
                padding-top: 40px

    div.description
        span.type
            display: block
            margin-bottom: 8px
            color: #6d454d
            +s(s)
                font-size: 11px
                margin-bottom: 5px
        h4
            margin-bottom: 10px
            +f(14px, 24px)
            +s(s)
                margin-bottom: 8px

        span.weight
            color: #6d454d
            +f(12px, 18px)

    &:hover
        box-shadow: 2px 6px 14px 0 #ffe0e71a, 6px 24px 25px 0 #ffe0e717, 14px 55px 34px 0 #e798a80d, 24px 97px 40px 0 #ffe0e703, 38px 152px 44px 0 #ffe0e700
        +s(m)
            box-shadow: unset

img.leaf
    position: absolute
    pointer-events: none
    grid-column: full
