@use '../../components/common/sass/_variables' as *
@use '../../components/common/sass/_mixins' as *

section.faq
    margin-top: var(--section-gap)
    margin-bottom: var(--section-gap)

    div.container
        display: grid
        grid-gap: 30px
        +s(m)
            grid-gap: 20px

    div.text
        display: grid
        grid-gap: 20px
        +s(m)
            grid-gap: 8px

    div.tabs
        display: grid
        grid-gap: 40px
        +s(m)
            grid-gap: 20px

        div.tabs_captions
            display: flex
            flex-wrap: wrap
            gap: 10px
            +s(s)
                display: grid
                grid-template-columns: repeat(2, 1fr)
                text-align: center
            div.tab_caption
                cursor: pointer
                border: 1px solid #e798a8
                border-radius: 30px
                padding: 14px 40px
                color: #e798a8
                +s(s)
                    padding-left: unset
                    padding-right: unset
                &.open
                    background: #e798a8
                    color: white

        div.tab_content
            display: none

            div.accordion
                div.question
                    cursor: pointer
                    user-select: none
                    display: grid
                    grid-template-columns: 1fr max-content
                    grid-gap: 24px
                    padding: 30px
                    +s(m)
                        padding: 15px 20px

                    span
                        font-weight: 500
                        line-height: 150%
                        color: #4a2c2f
                        +f(14px, 20px)

                    img
                        transition: all 0.5s

                div.answer
                    display: grid
                    grid-template-rows: 0fr
                    transition: all 0.5s

                    div.overflow
                        overflow: hidden
                        div.wrap
                            padding: 30px
                            border-bottom: 1px solid #e798a84d
                            +s(m)
                                padding: 10px 20px 15px

                &:nth-child(2n-1)
                    div.question
                        background: white
                        border-radius: 16px

                &.open
                    div.question
                        span
                            color: $pink-dark
                        img
                            transform: rotate(180deg)
                    div.answer
                        grid-template-rows: 1fr

            &.open
                display: grid
